LLM_BASE_URL="http://localhost:11434/v1"
LLM_MODEL="gemma3:12b-it-fp16"
LLM_API_KEY="sk-XXXX"

STT_BASE_URL="http://localhost:9317/v1"
STT_API_KEY="sk-XXXX"
STT_MODEL="Systran/faster-distil-whisper-large-v3"
STT_RESPONSE_FORMAT="verbose_json"
LANGUAGE="en"

TTS_BASE_URL="http://localhost:8880/v1"
TTS_API_KEY="dummy"
TTS_MODEL="kokoro"
TTS_VOICE="af_sky"
TTS_BACKEND="kokoro"
TTS_AUDIO_FORMAT="pcm"

MODE="WEB"